header{

    margin-top: 0px !important ;
    background: url(../images/bg1.jpg) no-repeat ;
   
    position: relative;
    z-index: 0;
    height: 690px !important ;
    padding-top: 90px  !important;
} 
@media (max-width: 576px) {
    header{
        height: auto !important;
    }
    .home::after {

        bottom: 26px !important;
   
    }
    
}
.home::after{
    background-image: url(../images/shape1.1112f1ac0dc18e511a91.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    
}
header.row{
    margin: 50px 0px;
}
header .row h5{
    color: var(--btn-color);
    font-size: 20px;
    margin: 40px 0px 10px 0px;
    background-image: url(../images/a.png) ;
    background-size: cover;
}
header .row h2{
    color: var(--main-color);
    font-size: 50px;
    margin: 30px 0px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 5px;
}
header button{
    background-color:var(--orange-color) !important;
    width: 200px;
    height: 60px;
    border: 1px solid var(--orange-color) !important;
    border-radius: 8px !important;
    margin-top: 20px;
    transition: .2s ease;

}
header button a{
    color: #fff;
    font-size: 17px;
    transition: .2s ease;
}
header button:hover a{
    color: #fff;
}
header button:hover{
    opacity: .7;
}
header .header-box{
    position: relative;
    max-width: 100%;
    height: auto;
}
header .img{
    display: block;
    width: 15%;
    margin-top: 25px;
    margin-left: 50px;
}
header img{
    max-width: 100%;
    width: 430px;
    height: auto;
    animation: mover 1s infinite alternate;
    transform: .3s ease all;
}
@keyframes mover{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}
header svg{
    color: var(--btn-color);
    font-size: 80px;
   position: absolute;
   left: 0;
   top: 10%;
   animation: mover 1s infinite alternate;
}
@media only screen and (max-width: 575px) {
    header {
        height: auto !important;
        padding-top: 100px !important;
    }
}